body{
    background-color: rgb(223, 101, 30);
}
#inicio{
    border: solid black 1px;
    box-sizing: border-box;
    max-width: 990px;
    margin: 0 auto;
    background-color: rgb(35, 180, 173);
}
#inicio h1,#inicio h2{
    text-align: center;
}

#winner_area{
    max-width: 990px;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    background-color: green;
}

#gameSection{
    max-width: 990px;
    box-sizing: border-box;
    justify-content: center;
    border: black solid 2px;
    margin: 0 auto;
}

.linha{
    display: flex;
    box-sizing: border-box;
}
.blocoCheio{
    background-image:url(brick.jpg);
    background-size: 100% 100%;
}
.blocoStart{
    background-color: greenyellow;
}
.blocoFinal{
    background-color: red;
}
.player{
    background-color:rgb(35, 180, 173);
    background-image: url(char.png);
    background-size: 100% 100%;
}
.blocoVazio{
    background-color: rgb(35, 180, 173);
}